.pregunta1 {
    background: blue;
}

.pregunta2 {
    background: purple;
}

.pregunta3 {
    background: red;
}

.pregunta4 {
    background: darkcyan;
}

.pregunta6 {
    background: chocolate;
}

.pregunta7 {
    background: deeppink;
}

.pregunta8 {
    background: darkolivegreen;
}